html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  height: 100%;
}

#sidebar {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  height: initial;
  background-color: #efefef;
}

#sidebar h1 {
  text-align: center;
}

.leaflet-sidebar .close {
  z-index: 801;
  background-color: #efefef;
}

#trackBtnCont {
  text-align: center;
  margin: 20px
}