html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  height: 100%;
}

#sidebarClose {
  display: flex;
}

#sidebarClose h1 {
  flex-grow: 1;
}

#sidebarCloseBtn {
  width: 25px;
  height: 25px;
}